@import 'base/fonts';
@import 'base/reset';
@import "base/base";

body {
  font-family: Raleway;
  background: #1d2228;
  color: rgb(255, 255, 255);
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 25px;

  @include media-breakpoint-down(md) {
    padding: 0 15px;
  }
}
