$midnight: #30363d;
$charcoal: #1d2228;
$white: #fff;
$whiteOpacity: rgba(255, 255, 255, 0.5);
$whiteOpacityOne: rgba(255, 255, 255, 0.6);
$whiteOpacityTwo: rgba(255, 255, 255, 0.15);
$whiteOpacityThree: rgba(255, 255, 255, 0.1);
$whiteOpacityFour: rgba(255, 255, 255, 0.65);
$boxShadow: rgba(0, 0, 0, 0.05);
$boxShadowTwo:rgba(20, 102, 204, 0.16);
$gradient: linear-gradient(270deg, rgb(135, 67, 255), rgb(65, 54, 241) 100%);
$gradientTwo:  linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
$gradientThree: linear-gradient(270deg, rgba(135, 67, 255, 0.2), rgba(65, 54, 241, 0.2) 100%);
$grayFour: rgb(31, 43, 56);
$modalBgColor: rgba(35, 31, 32, 0.7);
$black: #231F20;
$gray: #888;
$red: #FF5E54;
$green: #86d084;
$yellow: #FFBA09;



